<div class="container mt-5 mx-auto">
    <h1>Register User</h1>
    <form [formGroup]="signupForm" class="w-50 mx-auto bg-dark text-white p-3 forms mt-5 mb-5 form-group" (ngSubmit)="signupForm.valid && formSubmit(template)" #formref="ngForm">
        
     
        <div class="mb-3 ">
            <label for="un">Username</label>
            <input type="text" formControlName="username" id="un" class="form-control" required placeholder="Username">
            <div  *ngIf="usernames.invalid && (usernames.dirty || usernames.touched)">
                <div *ngIf="usernames.errors?.['required']" class="text-danger">
                    *Username Requried
                </div>
            </div>
             <!-- user registration error messages -->
             <p class="fw-bold text-center text-danger" *ngIf="registeerError.error">
                {{registeerError.errormessage}}
            </p>
        </div>
        <div class="mb-3 ">
            <label for="pa">Password</label>
            <input type="password" formControlName="password" id="pa" class="form-control" placeholder="Password">
            <div  *ngIf="passwords.invalid && (passwords.dirty || passwords.touched)">
                <div *ngIf="passwords.errors?.['required']" class="text-danger">
                    *Password is requried
                </div>
                <div *ngIf="passwords.errors?.['minlength']" class="text-danger">
                    *Minimum length is 5
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="mail">Email</label>
            <input type="email" formControlName="email" id="mail" class="form-control">
            <div *ngIf="emails.invalid && (emails.dirty || emails.touched)">
                <div *ngIf="emails.errors?.['required']" class="text-danger">
                    *Email is required
                </div>
            </div>
    
        </div>
        <div class="mb-3">
            <label for="place">City</label>
            <input type="text" formControlName="city" id="place" class="form-control">
            <div *ngIf="cities.invalid && (cities.dirty || cities.touched)">
                <div *ngIf="cities.errors?.['required']" class="text-danger">
                    *city is required
                </div>
            </div>
    
        </div>
        
        <div class="mb-3">
            <label for="photo">select</label>
            <input type="file" name="photo"  id="photo" class="form-control" (input)="onFileSelected(profile.files[0])" #profile placeholder="photo">
        </div>
        <img src={{imageUrl}} alt="" width="100px">

        <button type="submit" class="btn btn-info mb-3 mt-3   w-100">
            Login 
        </button>
       
    </form>
    <!-- modal -->
<ng-template #template>
    <div class="  modal-body text-white fw-bold text-center bg-dark">
        <p>Proceed to Login?</p>
        <button type="button" class="btn btn-primary" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>
    
</div>
